Editorial/editorial.dtd

<!ELEMENT cabecera (titulo,subtitulo,descripcion,fechaInforme)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT subtitulo (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT fechaInforme (#PCDATA)>
<!ELEMENT tabla (region+)>
<!ELEMENT region (#PCDATA|trimestre|librosVendidos)*>
<!ELEMENT trimestre (#PCDATA)>
<!ELEMENT librosVendidos (#PCDATA)>
<!ELEMENT clientes EMPTY>